@{
    ViewBag.Title = "Select Pizza";
}

<h2>Craft your Pizza</h2>

<form method="post" action="/Pizza/CalculateCost">
    <label for="size">Select Size:</label>
    <select id="size" name="size">
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
    </select>
    <br />
    <label>Select Toppings:</label>
    <div>
        <input type="checkbox" id="pepperoni" name="toppings" value="Pepperoni" />
        <label for="pepperoni">Pepperoni</label>
    </div>
    <div>
        <input type="checkbox" id="mushrooms" name="toppings" value="Mushrooms" />
        <label for="mushrooms">Mushrooms</label>
    </div>
    <div>
        <input type="checkbox" id="onions" name="toppings" value="Onions" />
        <label for="onions">Onions</label>
    </div>
    <!-- Add more checkboxes for other pre-defined toppings as needed -->

    <label for="otherToppings">Other Toppings:</label>
    <input type="text" id="otherToppings" name="otherToppings" />

    <input type="submit" value="Calculate Cost" />
</form>
